// Fuentes
$font-pacifico: 'Pacifico', cursive;
$font-oswald: 'Oswald', sans-serif;
$font-outfit: 'Outfit', sans-serif;
$font-ui: 'Segoe UI', sans-serif;

// Colores
$color-verde-oscuro: #003b2b;
$color-verde-hover: #001c20;
$color-marron: #c26b1d;
$color-gris-claro: #e3e3e3;
$color-negro-suave: #4b4b4b;
$color-tabla-header: #002930;
$color-hover-row: #f8f0af;
$color-total: #ac4a00;