<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout(~{::title},~{::main},~{::script} )}">

<head>
    <title>Catálogo</title>
</head>

<body>
    <main>
        <div th:if="${message}" id="mensaje-alerta" class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${message}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <!-- Categorías con imágenes -->
        <section class="text-center my-4">
            <div class="d-flex justify-content-center gap-3 flex-wrap">
                <a class="btn btn-filtro rounded-pill" th:href="@{/catalogo(categoria='MENU ECONOMICO')}"
                    th:classappend="${param.categoria} == 'Menú' ? ' btn-primary text-white' : ''">
                    <img th:src="@{/imagenes/menu.png}" alt="Menú">
                    Menu del dia
                </a>
                <a class="btn btn-filtro rounded-pill" th:href="@{/catalogo(categoria='Bebidas')}"
                    th:classappend="${param.categoria} == 'Bebidas' ? ' btn-primary text-white' : ''">
                    <img th:src="@{/imagenes/bebidas.png}" alt="Bebidas">
                    Bebidas
                </a>

                <a class="btn btn-filtro rounded-pill" th:href="@{/catalogo(categoria='Snacks')}"
                    th:classappend="${param.categoria} == 'Snacks' ? ' btn-primary text-white' : ''">
                    <img th:src="@{/imagenes/snakcs.png}" alt="Snacks">
                    Snacks
                </a>

                <a class="btn btn-filtro rounded-pill" th:href="@{/catalogo(categoria='Postres')}"
                    th:classappend="${param.categoria} == 'Postres' ? ' btn-primary text-white' : ''">
                    <img th:src="@{/imagenes/postres.png}" alt="Postres">
                    Postres
                </a>
            </div>
        </section>

        <!-- Cards de productos -->
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-4 mb-4" th:each="producto : ${productos}">
                    <div class="card h-100 shadow-sm">
                        <img th:src="@{${producto.imagenUrl}}" class="card-img-top" alt="Imagen del producto"
                            style="height: 200px; object-fit: cover;">
                        <div class="card-body d-flex flex-column text-center">
                            <h5 class="card-title" th:text="${producto.nombre}"></h5>
                            <p class="card-text text-muted">S/. <span th:text="${producto.precio}"></span></p>
                            <!-- <p class="card-text small text-warning">Rating: <span th:text="${producto.rating}"></span> ⭐</p> -->
                            <button class="btn btn-success mt-auto"
                                th:attr="data-nombre=${producto.nombre}, data-precio=${producto.precio},data-id=${producto.id}"
                                onclick="abrirModal(this)">
                                Ver detalle
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div id="modalDetalle" class="modal">
            <div class="modal-contenido">
                <span class="cerrar" onclick="cerrarModal()">&times;</span>
                <h2 id="modalNombre"></h2>
                <p id="modalPrecio"></p>
                <form method="post" th:action="@{/catalogo/subir}">
                    <input hidden id="idProducto" name="idProducto">
                    <input hidden name="idUsuario" value="1" id="idUsuario">
                    <input hidden name="nombreProducto" id="nombreProducto">
                    <label for="cantidad">Cantidad:</label>
                    <input type="number" name="cantidad" min="1" value="1" required>
                    <button type="submit">Agregar al carrito</button>
                </form>
            </div>
        </div>
    </main>
    <script th:if="${message}">
        document.addEventListener("DOMContentLoaded", function () {
            const alerta = document.getElementById('mensaje-alerta');
            setTimeout(() => {
                // Usa Bootstrap para cerrar con animación
                const bsAlert = bootstrap.Alert.getOrCreateInstance(alerta);
                bsAlert.close();
            }, 1500); // 1 segundos
        });
    </script>
</body>

</html>